.welcome-section {
    background-color: #E26986;
    text-align: center;
    padding-top: 10px;
}

.section-title {
    font-size: 64px;
    color: #B83077;
    margin-bottom: 4px;
    padding-top: 10px;
}

.section-description {
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin-bottom: 6px;
    padding: 0 16px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 8px;
}

.logo-item {
    width: 70px;
    object-fit: scale-down;
}

.subscribe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
}

.subscribe-button {
    background-color: #fff;
    font-size: 25px;
    color: #EB5A5D;
    text-align: center;
    width: 700px;
    padding: 1px 0;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}