.welcome-section {
    background-color: #E26986;
    text-align: center;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    justify-content: space-between;
}

.section-title {
    font-size: 64px;
    color: #B83077;
}

.section-description {
    font-size: 24px;
    width: 65%;
    margin: 0px auto 0px auto;
    color: #fff;
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-item {
    width: 70px;
    margin-left: 25px;
}

.subscribe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
}

.subscribe-button {
    background-color: #fff;
    font-size: 25px;
    color: #EB5A5D;
    text-align: center;
    width: 700px;
    padding: 1px 0;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 600px) {
   
    
    .section-title {
        font-size: 44px;
        margin: -1px;
    }
    
    .section-description {
        margin: 10px;
        font-size: 22px;
        width: 90%;
        
    }
    
    .logo-container {
        margin: 20px;
        justify-content: flex-start;
       
    }
    
    .logo-item {
        width: 45px;
        height: 45px;
        margin: auto;
      
    }
    
   
    
    .subscribe-button {
        font-size: 25px;
        width: 300px;
        border-radius: 30px;
 
    }
    
}

